.title{
    font-size: large;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    left: 90px;
    color: white;
}
header img{
    width: 25px;
    left: 50px;
    position: fixed;
}
main #yard img{
    position: fixed;
    top: 55px;
    left: 20px;
    height:680px;
    border-radius: 5px;
}