*{
    margin: 0;
    padding: 0;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
main{
    display: block;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.9);
    width: 1366px;
    height: 768px;
}
header{
    display: block;
    background-color: rgba(23, 23, 23, 0.9);
    width: 1366px;
    height: 40px;
    -webkit-app-region: drag;
}
.btn_close {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
    background: #FF5D5B;
    border: 1px solid #460100;
    cursor: pointer;
    left: 20px;
    top: 20px;
    -webkit-app-region: no-drag;
}
img{
    pointer-events:none;
}
#nav_main ul li{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: auto 20px;
}